body{
    background-color: black;

}
h1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-transform:uppercase;


}
img{
    border: 5px white solid;
    width: 100%;

}
div{
    width: 50%;
    margin-left: 25%;
}
p{
    color: white;
    text-align: center;
}